[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi",
    "sqlmodel",
    "uv",
    "psycopg2-binary",
    "python-dotenv",
    "uvicorn",
]
